repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pytest
        name: pytest
        entry: uv run pytest --cov --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
